li {
  list-style: none;
  list-style-type: none;
}

#box {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 10px;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
