.user-login {
  margin-top: 50px;
  padding: 15px;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid rgb(240, 200, 200);
}

.user-title-image-login {
  width: 260px;
  margin: 30px 10px 30px 10px;
}

.user-title-image-login img {
  width: 50%;
}

input {
  font-weight: bold;
  height: 40px;
  color: rgb(200, 200, 200);
  font-size: 15px;
  width: 260px;

  border-width: 1px;
  border-color: rgb(250, 250, 250);
}

input::placeholder {
  color: rgb(200, 200, 200);
}

input:hover {
  background-color: rgb(250, 250, 250);
}

.user-login-button {
  margin: 30px 0px 30px 0px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  width: 270px;
  height: 50px;

  border: none;
  border-radius: 5px;
  background-color: rgb(48, 192, 224);
}

.user-login-button:hover {
  background-color: rgb(40, 182, 214);
  cursor: pointer;
}

.id-message-login {
  color: red;
  font-size: 12px;
  text-align: left;
}

.link-login {
  width: 270px;
  text-align: right;
}
